{{ define "template.footer"}}
         </div> 
        <!-- end of row div -->
    </div>
    <!-- end of container div -->
</body>
</html>
<script>
    $(function(){
	$('#slide-submenu').on('click',function() {			        
        $(this).closest('.list-group').fadeOut('slide',function(){
        	$('.mini-submenu').fadeIn();	
        });
        
      });

	$('.mini-submenu').on('click',function(){		
        $(this).next('.list-group').toggle('slide');
        $('.mini-submenu').hide();
	})
})
</script>
{{ end }}