{{define "template.xss1"}} {{template "template.header" .}} {{template "template.sidebar" .}}
<div class="col-md-9">
    <div class="panel panel-primary">
        <div class="panel-heading">Cross Site Scripting Vulnerability</div>
        <div class="panel-body">
            <div class="pnl">
                <!-- <span class="subheader">SQL Injection Vulnerability</span> -->
                <p>The use of html template</p>
                <p>Search vulnerability term, and you will get the explanation about the term:</p>
                <div class="well">
                    <form class="form-inline" method="GET">
                    <div class="form-group">
                        <label for="name">Search Vulnerability Term:</label>
                        <input type="text" class="form-control" name="term" id="term" value="{{.value}}">
                        <input type="submit" class="btn btn-small btn-primary" value="Search">
                    </div>
                   </form>
                   <p>{{.term}}</p>
                   <p>{{.details}}</p>
                </div>    
            </div>
        </div>
    </div>
</div>
{{template "template.footer"}} {{ end }}