{{define "template.header"}}
<!DOCTYPE html>
<html>
<head>
    <title>{{.title}}</title>

    <link href="{{.weburl}}public/css/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">

    <!-- <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" /> -->
    <link rel="stylesheet" type="text/css" href="{{.weburl}}public/css/open-sans.css" />
    <link href="{{.weburl}}public/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <script type="text/javascript" src="{{.weburl}}public/js/jquery-3.2.1-min.js"></script>
    <script type="text/javascript" src="{{.weburl}}public/js/bootstrap.min.js"></script>
    
    <link href="{{.weburl}}public/css/main.css" rel="stylesheet">

    <style>
        .header {
    background-image: url("{{.weburl}}public/img/header2.png");
    width: 1140px;
    height: 130px;
    margin-bottom: 20px;
}
    </style>
</head>
<body>
    <div class="container">
        <nav class="header" role="navigation">
        </nav>
        {{end}}