{{define "template.index"}}
<html>
    {{template "template.header" .}}
    {{template "template.sidebar" .}}
    <div class="col-md-6">
    <div class="panel panel-success">
        <div class="panel-heading">Set Level</div>
        <div class="panel-body">
            <form action="http://localhost:8082/index" method="POST">
                <div class="form-group">
                    <label for="email">Set Level:</label>
                    <select name="level">
                        <option value="low">Low</option>
                        <option value="high">High</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input class="btn btn-default" type="submit" value="Send">
                    </div>
            </form>
            <div class="level">Level : <b>{{.Level}}</b></div>
            <a class="btn btn-small btn-default" href="http://localhost:8082/validate">Input Validation</a>
            <a class="btn btn-small btn-default" href="http://localhost:8082/getinfo?name=tes">XSS</a>
            <a class="btn btn-small btn-default" href="http://localhost:8082/getuser?uid=1">SQL Injection</a>
        </div>
      </div>
      </div>
{{template "template.footer"}}

{{ end }}