{{define "template.index"}}
{{template "template.header" .}} 
{{template "template.sidebar" .}}
<div class="col-md-9">
    <div class="panel panel-primary">
        <div class="panel-heading">Home</div>
        <div class="panel-body">
            <div class="pnl">
                <span class="subheader">Welcome to GoVWA</span>
            <p>
                    GoVWA (Go Vulnerable Web Application) is a web application developed to help the pentester and programmers 
                    to learn the vulnerabilities that often occur in web applications which is developed
                    using golang. Vulnerabilities that exist in GoVWA are the most common vulnerabilities 
                    found in web applications today. So it will help programmers recognize vulnerabilities 
                    before they happen to your application. Govwa can also be an additional application of your pentest 
                    lab for learning and teaching.
            </p>
            <span class="subheader">Warning!</span>
            <p>
                    Since GoVWA is a web application that contains a vulnerability, never upload govwa to web 
                    hosting that can be accessed publicly, because it can cause your server to get hacked. As a 
                    suggestion to use GoVWA locally
            </p>
        </div>
        </div>    
        </div>
    </div>
{{template "template.footer"}} {{ end }}
