{{define "template.sqli1"}} {{template "template.header" .}} {{template "template.sidebar" .}}
<div class="col-md-9">
    <div class="panel panel-primary">
        <div class="panel-heading">SQL Injection Vulnerability</div>
        <div class="panel-body">
            <div class="pnl">
                <!-- <span class="subheader">SQL Injection Vulnerability</span> -->
                <p>This should be safe</p>
                <p>Your Profile :</p>
                    {{.error}} 
<pre>
Uid     : {{.uid}}
Name    : {{.name}}
City    : {{.city}} 
Number  : {{.number}} 
</pre>
                <div class="more-info">
                    <span>More Info :</span>
                    <a target="_blank" href="http://www.sqlinjection.net/union/">http://www.sqlinjection.net/union/</a>
                    <a target="_blank" href="https://www.owasp.org/index.php/SQL_Injection">https://www.owasp.org/index.php/SQL_Injection</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "template.footer"}} {{ end }}