

<!DOCTYPE html>
<html>
<head>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <title>Index</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://localhost:8082/public/css/main.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
        </nav>
         

<div class="row">
    <div class="col-sm-4 col-md-3 sidebar">
        <div class="nav-side-menu">
            <div class="brand"><img src="http://localhost:8082/public/img/go-icon.ico">Vulnerabilities</div>
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

            <div class="menu-list">

                <ul id="menu-content" class="menu-content collapse out">
                    <li data-toggle="collapse" data-target="#home" class="collapsed">
                            <a href="#"><i class="fa fa-dashboard fa-lg"></i> Home <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="home">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Setup</a></li>
                        </ul>

                    <li data-toggle="collapse" data-target="#sqli" class="collapsed">
                        <a href="#"><i class="fa fa-bug fa-lg"></i> SQL Injection <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="sqli">
                        <li><a href="#">SQLI 1</a></li>
                        <li><a href="#">SQLI 2</a></li>
                    </ul>


                    <li data-toggle="collapse" data-target="#xss" class="collapsed">
                        <a href="#"><i class="fa fa-bug fa-lg"></i> Cross Site Scripting <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="xss">
                        <li><a href="#">XSS 1</a></li>
                        <li><a href="#">XSS 2</a></li>
                    </ul>


                    <li>
                        <a href="#">
                            <i class="fa fa-bug fa-lg"></i> IDOR
                        </a>
                    </li>

                    <li data-toggle="collapse" data-target="#csrf" class="collapsed">
                        <a href="#"><i class="fa fa-bug fa-lg"></i> XXE <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="csrf">
                        <li><a href="#">XXE 1</a></li>
                        <li><a href="#">XXE 2</a></li>
                    </ul>
                    <li>
                            <a href="http://localhost:8082/logout">
                                <i class="fa fa-sign-out fa-lg"></i> Logout
                            </a>
                        </li>
                </ul>
            </div>
        </div>
    </div>
    
<div class="col-md-9">
    <div class="panel panel-primary">
        <div class="panel-heading">Home</div>
        <div class="panel-body">
            <div class="pnl">
                <h2>Wolcome To GOVWA user1</h2>
            <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        </div>    
        </div>
    </div>

</div>


<footer class="footer">
        <div class="container">
          <span class="text-muted">Place sticky footer content here.</span>
        </div>
</footer>
</div>

</body>

</html>
 